html {
    font-size:100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,select,button,textarea,p,blockquote,iframe,table,th,td,article,aside,details,figcaption,figure,footer,header,hgroupd,nav,section {
	margin:0;
	padding:0;
	outline-style:none;
	font-family:"Arial","SimSun", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

article,aside,details,figcaption,figure,footer,header,hgroupd,nav,section {
    display:block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

.video embed,.video object,.video iframe {
	width:100%;
	height:auto;
}


a {
  color: #0088cc;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

fieldset,img {
    border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th{
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym{
    border:0;
    font-variant:normal;
}
sup {
    vertical-align:text-top;
}
sub {
    vertical-align:text-bottom;
}

img {
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
  /*max-width: 100%;*/
}


.clearfix:before,
.clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }
.clearfix { *zoom: 1;clear:both }

hr {
    margin:0;
    border:none;
    height:0;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
}


i{ font-style:normal;}


body{
    font-size:12px;
    background-color:#000000;
}

s,u{
    text-decoration:none;
}


/** site define */
.row { *zoom: 1; }
.row:before, .row:after { display: table; line-height: 0; content: ""; }
.row:after { clear: both; }

.pull-left {float:left;}
.pull-right {float:right;}


.yahei {
    font-family:"Microsoft YaHei" !important;
}

.blackFont {
    font-family:"SimHei" !important;
}

.songFont {
   font-family:"SimSun"; 
}



#top_bar {
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#CC505050,endColorstr=#CC505050);
    background:rgba(80,80,80,0.7);
    z-index:10;
    position:fixed;
    top:0;
    width:100%;
    height:60px;
}

#logo {
    background:url(../img/sprite.png) no-repeat 0px 0px;
    width:70px;
    display:block;
    margin-left:40px;
}

.menu li {
    float:left;
}

.menu li.first {
    margin-right:10px;
    margin-left: 150px;
}

.menu .last {
    float:right;
}

.menu li a {
    display:block;
    color:#fff;
    width:135px;
    height:40px;
    padding:20px 0 0 0;
    font-size:16px;
    text-align:center;
    font-family:"Microsoft YaHei";
}
.menu li a:hover {
    background:#1068de;
    color:#ffffff;
    text-decoration:none;
}

.menu .active {
    background:#1068de;
    color:#ffffff;
}

.main-body .content-wrapper {
    background:url(../img/bg_transition.png) transparent;
}

.main-body, .content-wrapper {
    margin: 0 auto;
    width: 1200px;
}

/** common */

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0 0 0;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  color:#000000;
  font-family:"SimSun";
  font-weight:bold;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  cursor: default;
  background-color: #eeeeee;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  background-color: #ffffff;
  border-color: #dddddd;
}

.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 5px 10px;
  font-size: 14px;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}

.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager:before,
.pager:after {
  display: table;
  content: " ";
}

.pager:after {
  clear: both;
}

.pager li {
  display: inline;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}

.pager .next > a,
.pager .next > span {
  float: right;
}

.pager .previous > a,
.pager .previous > span {
  float: left;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  background-color: #ffffff;
}


/** 首页 */
.slider_wrapper {
    position:relative;
}

.slider_wrapper .slider_item {
    width:1200px;
    height:750px;
}

.site_links {
    position:relative;
    top:-160px;
    z-index:6;
    width:881px;
    margin:0 auto;
}

.site_links li {
    margin-right:10px;
    float:left;
    height:340px;
    width:210px;
    background-color:#fff;
}

.site_links h3 {
    width:80px;
    height:27px;
    background:url(../img/sprite.png) no-repeat -210px 0px;
    text-indent: -1000em;
    margin-top:17px;
}
.site_links .two_row {
    background-color:transparent;
}

.site_links figcaption {
    font-size:15px;
}

.site_links .two_row .row {
    background-color: #ffffff;
    height:166px;
}

.site_links .txt_abouts_us {
    background-position:-210px 0px;
}

.site_links .txt_latest {
    background-position:-210px -36px;
}

.site_links .txt_affiliate {
    background-position:-210px -70px;
}

.site_links .txt_product {
    background-position:-210px -106px;
}

.home_footer {
    color:#dad9d9;
    padding:10px 0;
}

.home_footer  p {
    float:left;
    margin:0 0 0 100px;
}

.home_footer  p em {
    padding:0 0 0 30px;
}

.home_footer span {
    float:right;
    margin:0 60px 0 0 ;
}

/** 联系我们 */
.gray-logo {
    background:url(../img/sprite.png) no-repeat -70px 0px;
    width:60px;
    height:50px;
}

.contact-us {
    padding:150px 0 90px 0;
    width:850px;
    margin:0 auto;
}

.contact-us .row {
    margin-bottom:15px;
    padding:15px 25px;
    background-color:#fff;
}

.contact-list {
    width:200px;
}

.contact-list li {
    margin-bottom:5px;
    position:relative;
}

.contact-list li p {
    color:red;
    font-size:18px;
   
    position:relative;
    left:55px;
    top:10px;
}

.contact-qq {
    background:url(../img/sprite.png) no-repeat 0 -350px;
    height:62px;
}

.contact-tel {
    background:url(../img/sprite.png) no-repeat 0 -416px;
    height:62px;
}

.contact-list .contact-tel p {
    top:32px;
    left:65px;
    color:#555555;
}


.contact-join-us {
    background:url(../img/sprite.png) no-repeat 0 -483px;
    height:160px;
}

.contact-join-us .qq {
    display:block;
    font-size:0px;
    width:74px;
    height:22px;
    position:absolute;
    bottom:20px;
    background:url(../img/sprite.png) no-repeat -132px 0px;
}

.contact-join-us .qq.first {
    left:20px;
}

.contact-join-us .qq.second {
    left:100px;
}

.contact-list .contact-join-us p {
    left:40px;
    top:90px;
}

.address-info {
    color:#404040;
    padding:55px 0 0 40px;
    width:520px;
    position:relative;
    font-size:18px;
}
.address-info li {
    padding:3px 0;
}

.address-info strong {
    padding:0 0 0 10px;
    font-weight:bold;
    color:#404040;
}
.address-info .gray-logo {
    position:absolute;
    right:20px;
    top:0px;
    display:block;
}

.bussiness-info {
    
}

.bussiness-info li {
    float:left;
    position:relative;
    padding:12px;
    height:220px;
}

.bussiness-info li  p {
    text-align:center;
    color:#3c3c3c;
    padding:3px 0;
    font-size:15px;
    line-height:50px;
}


.bussiness-info li.first {
    padding:0;
    width:150px;
    text-align:center;
    min-height:30px;
    zoom:1;
}

.bussiness-info li.first h4 {
    color:#a8a8a8;
    width: 20px;
    margin: 0 auto;
    font-size: 35px;
    position: absolute;
    left: 50%;
    margin-top: 50px;
    margin-left: -30px;
}
.bussiness-info .long {
    background:#f1f1f1;
    
}
.bussiness-info .short {
    width:80px;
}
.bussiness-info .short a {
    position:absolute;
    bottom:0px;
    text-indent:-1000em;
}

.bussiness-info .long {
    background:#f1f1f1;
}

.weibo-matrix {
    background:url(../img/sprite.png) no-repeat 0px -149px;
    height:169px;
    width:169px;
}

.weibo-logo {
    background:url(../img/sprite.png) no-repeat 0px -70px;
    width:78px;
    height:80px;
    display:block;
}

.weixin-matrix {
    background:url(../img/sprite.png) no-repeat -200px -149px;
    height:182px;
    width:182px;
}

.weixin-logo {
    background:url(../img/sprite.png) no-repeat -100px -70px;
    width:78px;
    height:78px;
    display:block;
}

/** 关于我们 */
.about_us_nav {
    position:absolute;
    top:80px;
    left:136px;
    z-index:11;
    color:#dfe1e2;
}

.about_us_nav li {
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#CC293a4e,endColorstr=#CC293a4e);
    background:rgba(41,58,78,0.7);
    margin:3px 0;
    width:137px;
    height:55px;
}

.about_us_nav li a {
    color:#dfe1e2;
    width:100%;
    height:40px;
    padding:20px 0 0 0;
    text-align:center;
    display:block;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
}

#company_detail {
    margin-left:136px;
    margin-top: -325px;
    position: relative;
}
#company_detail .item {
    width:870px;
    padding:20px 30px;
    background:#fff;
}

#company_detail .item h3 {
    display:none;
}

#company_detail .item p {
    font-family:"Microsoft YaHei";
    text-indent:2em;
    line-height: 30px;
    font-size: 15px;
}


/** 人才招聘 **/
.zhaopin_bg {
    width:738px;
}

.zhaopin_bg_1 {
    background:url(../img/zhaopin/zhaopin_bg_01.png) no-repeat;
    height:50px;
}

.zhaopin_bg_2 {
    background:url(../img/zhaopin/zhaopin_bg_02.png) no-repeat;
    height:49px;
}

.zhaopin_bg_3 {
    background:url(../img/zhaopin/zhaopin_bg_03.png) no-repeat;
    height:50px;
}
.zhaopin_bg_4 {
    background:url(../img/zhaopin/zhaopin_bg_04.png) no-repeat;
    height:49px;
}
.zhaopin_bg_5 {
    background:url(../img/zhaopin/zhaopin_bg_05.png) no-repeat;
    height:50px;
}
.zhaopin_bg_6 {
    background:url(../img/zhaopin/zhaopin_bg_06.png) no-repeat;
    height:50px;
}
.zhaopin_bg_7 {
    background:url(../img/zhaopin/zhaopin_bg_07.png) no-repeat;
    height:49px;
}
.zhaopin_bg_8 {
    background:url(../img/zhaopin/zhaopin_bg_08.png) no-repeat;
    height:50px;
}
.zhaopin_bg_9 {
    background:url(../img/zhaopin/zhaopin_bg_09.png) no-repeat;
    height:49px;
}
.zhaopin_bg_10 {
    background:url(../img/zhaopin/zhaopin_bg_10.png) no-repeat;
    height:50px;
}
.zhaopin_bg_11 {
    background:url(../img/zhaopin/zhaopin_bg_11.png) no-repeat;
    height:50px;
}
.zhaopin_bg_12 {
    background:url(../img/zhaopin/zhaopin_bg_12.png) no-repeat;
    height:49px;
}
.zhaopin_bg_13 {
    background:url(../img/zhaopin/zhaopin_bg_13.png) no-repeat;
    height:50px;
}
.zhaopin_bg_14 {
    background:url(../img/zhaopin/zhaopin_bg_14.png) no-repeat;
    height:49px;
}
.zhaopin_bg_15 {
    background:url(../img/zhaopin/zhaopin_bg_15.png) no-repeat;
    height:50px;
}


.advertise {
    padding:200px 0 90px 0;
    width: 1000px;
    margin: 0 auto;
}

.advertise .title p {
    font-family:"SimSun";
    line-height:30px;
    font-size:16px;

}
    

.advertise .position_list {
    
}

.advertise .slogan {
    float:left;
    width:800px;
    position: relative;
    top:-70px;
}

.slogan .text {
    position:absolute;
}
.slogan .text p {
    font-family:"SimHei";
    line-height:30px;
    font-size:18px;
}
.slogan .text p em {
    font-size:24px;
}

.slogan .text1 {
    bottom: 220px;
    right: 80px;
}

.slogan .text2 {
    bottom:30px;
    left:60px;
}





.zhao_info {
    width:200px;
    position: relative;
    top: -25px;
    float:left;
}
.zhao_info h2 {
    font-size:18px;
    font-weight:bold;
    padding: 0 0 0 40px;
}

.position_list {
    
}

.position_list li {
    background:#c4c2c2;
    text-align:center;
    padding:13px 20px;
    width:120px;
    margin:10px 0;
}

.position_list li a {
    font-family:"SimSun";
    font-size:15px;
    color:#000000;
    font-weight:bold;
}

/** 品牌形象 */
.brand {
    padding: 150px 0 90px 0;
}

#brand_box {
    margin:0 auto;
    background:#e9e9e9;
    width:920px;
    height:720px;
    box-shadow:10px 10px 40px #aaaaaa;
    -webkit-box-shadow:10px 10px 40px #aaaaaa;
    -moz-box-shadow:10px 10px 40px #aaaaaa;
    -o-box-shadow:10px 10px 40px #aaaaaa;
}

.brand .join_us_tel {
    float:right;
    color:#3d3d3d;
    font-size:15px;
    font-family:"SimHei";
    font-weight:bold;
    margin:20px 200px;
}

.brand_title {
    padding:20px 0;
}

.brand_title h3 {
    border-left:30px solid #1068de;
    font-family:"SimHei";
    font-size:18px;
    text-indent:20px;
}


.store_list {
    position:relative;
    padding:20px 35px;
}

.store_pager a {
    width:45px;
    height:170px;
    display:block;
    position:absolute;
    top:50%;
    margin-top:-85px;
}

.store_pager .page_prev {
    left:-55px;
    background:url(../img/sprite.png) no-repeat -210px -350px;
}

.store_pager .page_next {
    right:-55px;
    background:url(../img/sprite.png) no-repeat -260px -350px;
}

.pager_footer a {
    width:16px;
    height:16px;
    display:block;
    float:left;
}
.pager_footer span {
    float:left;
    display:block;
    padding:0 10px;
    font-family:"SimHei";
    font-size:15px;
    font-weight:bold;
    margin:-2px 0 0 0;
}

.pager_footer {
    float:right;
    margin-right:60px;
}

.pager_footer .page_prev {
    background:url(../img/sprite.png) no-repeat -140px -24px;
}

.pager_footer .page_next {
    background:url(../img/sprite.png) no-repeat -160px -24px;
}


.store_list .store_item {
    float:left;
    width:265px;
    height:250px;
    margin:0 15px 30px 0;
}

.store_list .store_item span {
    display:block;
    text-align:center;
    font-family:"SimHei";
    font-size:16px;
    font-weight:bold;
    padding:10px 0px;
}

.store_list .store_item img {
    width:265px;
    height:200px;
}



/** 加盟 */
.join_us {
    position:relative;
    
}

#join_us_nav {
    position:absolute;
    top:65px;
    left:120px;
    color:#dfe1e2;
    z-index:11;
}

#join_us_nav li {
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#CC293a4e,endColorstr=#CC293a4e);
    background:rgba(41,58,78,0.7);
    margin:10px;
    width:137px;
    height:55px;
    float:left;
}

#join_us_nav li a {
    color:#dfe1e2;
    width:100%;
    height:40px;
    padding:20px 0 0 0;
    text-align:center;
    display:block;
    font-size:15px;
    font-weight:bold;
}

/*
#join_us_nav li.active {
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#CC1068de,endColorstr=#CC1068de);
    background:rgba(16,104,222,0.7);
}*/


.b2w {
    background: -moz-linear-gradient(left, #000000, #ffffff);
    background: -webkit-linear-gradient(left, #000000, #ffffff);
    background: -o-linear-gradient(left, #000000, #ffffff);
    background: linear-gradient(left, #000000, #ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 1, startColorstr = #000000, endColorstr = #FFFFFF);
}

.blue_bg_1 {
    background:url(../img/join_us/blue_01.png) no-repeat;
    height:112px;
}

.blue_bg_2 {
    background:url(../img/join_us/blue_02.png) no-repeat;
    height:111px;
}

.blue_bg_3 {
    background:url(../img/join_us/blue_03.png) no-repeat;
    height:112px;
}
.blue_bg_4 {
    background:url(../img/join_us/blue_04.png) no-repeat;
    height:112px;
}
.blue_bg_5 {
    background:url(../img/join_us/blue_05.png) no-repeat;
    height:112px;
}
.blue_bg_6 {
    background:url(../img/join_us/blue_06.png) no-repeat;
    height:111px;
}
.blue_bg_7 {
    background:url(../img/join_us/blue_07.png) no-repeat;
    height:112px;
}
.blue_bg_8 {
    background:url(../img/join_us/blue_08.png) no-repeat;
    height:112px;
}
.blue_bg_9 {
    background:url(../img/join_us/blue_09.png) no-repeat;
    height:111px;
}
.blue_bg_10 {
    background:url(../img/join_us/blue_10.png) no-repeat;
    height:112px;
}

#we_come {
    position:absolute;
    top:45px;
    right:-15px;
    width:1100px;
    height:381px;
    background:url(../img/join_us/we_come.png) no-repeat;
}

#we_come_text {
    color: #2b4287;
    font-size: 17px;
    position: absolute;
    bottom: 80px;
    left: 45px;
}

#we_come_text2 {
    color: #010101;
    font-size: 17px;
    position: absolute;
    bottom: -80px;
    left: 45px;
    width: 416px;
    line-height: 30px;
}

#join_text {
    position:absolute;
    width:868px;
    height:334px;
    background:url(../img/join_us/join_text.png) no-repeat;
    left: 180px;
    top: 515px;
}

#join_text p {
    position: absolute;
    bottom: -30px;
    font-size: 16px;
}

#join_contact {
    position: absolute;
    bottom:0px;
    width:100%;
}

#join_contact .download_file {
    background: url(../img/sprite.png) no-repeat 0px -654px;
    width: 275px;
    display: block;
    position: absolute;
    height: 25px;
    left: 175px;
    top: -160px;
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 12px 0;
}

.goback {
    background: url(../img/sprite.png) no-repeat -300px 0px;
    width:100px;
    height:100px;
    display:block;
    text-align:center;
}

#join_contact .goback {
    position:absolute;
    right:120px;
    bottom:100px;
    text-decoration:none;
}

.goback em {
    display:block;
    top:40%;
    position:relative;
    position: relative;
    font-size: 16px;
    color: #fff;
}

#join_contact .join_doc {
    background:url(../img/sprite.png) no-repeat -205px -520px;
    width:210px;
    height:85px;
    position:absolute;
    right:310px;
    bottom:100px;
}

#join_contact .join_doc span,#join_contact .join_doc strong {
    position: absolute;
    left: -85px;
    width: 80px;
    top: 20px;
    font-size: 18px;
}

#join_contact .join_doc strong {
    top:45px;
}

#flow_img {
    background:url(../img/join_us/flow_text.png) no-repeat;
    position:absolute;
    height:800px;
    width:220px;
    left:180px;
    top:256px;
}

#flow_img h3,#flow_desc h3 {
    position: absolute;
    top: -72px;
    left: -80px;
    width: 285px;
    padding: 5px 0 5px 50px;
    color: #fff;
    font-size: 23px;
}

#vline {
    position: absolute;
    background:url(../img/join_us/vline.png) no-repeat;
    width:5px;
    height:935px;
    top: 75px;
    left: 50%;
}

#flow_desc {
    position: absolute;
    top: 200px;
    left: 685px;
}

#flow_desc h3 {
    left:0px;
}

#flow_desc ul {
    margin:-10px 0 40px -20px;
}
#flow_desc li {
    font-family:"Microsoft YaHei";
    font-weight:bold;
    font-size:15px;
    padding:5px 0;
}


/** 新闻*/

.news {
    width:860px;
    margin:-90px auto 0;
    position: relative;
    left:20px;
}

.news_text {
    position:absolute;
    background:url(../img/sprite.png) no-repeat -305px -350px;
    width:110px;
    height:100px;
}

.news .news_text {
    left: -50px;
    top: -200px;
}

.news_list {
    float:left;
    width:610px;
    padding:40px 20px 20px 20px;
}


.news_list, .act_item {
    background:#ffffff;
}

.news_list .pagination {
    float:right;
}

.news_item {
    position:relative;
    padding: 16px 10px;
}

.news_item .news_cover {
    display:block;
    width:156px;
    height:80px;
    overflow:hidden;
    float:left;
}

.news_cover img {
    width: 156px;
    height: 80px;
}

.news_item .news_short {
    margin-left:180px;
}

.news_short .title {
    color:#010101;
    font-family:"Microsoft YaHei";
    font-size:14px;
    font-weight:bold;
}

.news_short .see_detail {
    position:absolute;
    right:10px;
    bottom:5px;
    color:#000000;
    font-weight:bold;
}

.news_item .news_short p {
    text-indent:2em;
    color:#414141;
    padding: 10px 0;
    line-height: 20px;
}



.lastest_act {
    float:left;
    margin:0 0 0 20px;
    width:190px;
}
.act_item.first {
    margin-top:0px;
}

.act_item {
    background:#ffffff;
    margin:10px 0;
    position:relative;
}

.act_item p {
    text-align:center;
    font-size:15px;
    position:absolute;
    bottom:3px;
    width:100%;
}

.atp p {
    bottom:16px;
}


#news_detail {
    filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr=#CCFFFFFF,endColorstr=#CCFFFFFF);
    background:rgba(255,255,255,0.7);
    z-index:12;
    width: 720px;
    margin: 0 auto;
    padding: 60px 45px 40px 55px;
    position: relative;
    top: -480px;
    left: 100px;
}

#news_detail .news_text {
    left: -130px;
    top: 200px;
}


#news_detail .title {
    font-size:16px;
    text-align:center;
}

#news_detail .title h1 {
    font-weight:bold;
    font-size: 22px;
    padding: 0 0 15px 0;
}

#news_detail .title h2 {
    font-weight:bold;
    font-size: 18px;
    padding: 0 0 10px 0;
}

#new_content {
    font-family:"SimSun";
    line-height:30px;
    font-size:15px;
    text-indent:2em;
    overflow: hidden;
}

#news_detail .goback {
    float:right;
}
